/* General style */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #555555;
  vertical-align: baseline;
  background-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

i {color: #03b6fc;}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

h1 {
    text-align: center; 
}
h2, h3, h4 {
  text-align: left; 
}

h1, h2, h3, h4 {
font-weight: bold;
  color: #317eac;
  margin-block-start: 0.25em;
  margin-block-end: 0;
  padding-bottom: 0.1em;
}
  
h1 {font-size: 34px; font-weight: bold}
h1.title {font-size: 38px;}
h2 {font-size: 28px; font-style: italic; font-weight: normal}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 12px;}
code {color: inherit; background-color: rgba(0, 0, 0, 0.04);}
pre:not([class]) { background-color: white }
 
 
/* Body */  
body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 10em;
  justify-content: flex-start;

}
  
title {display: none;}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2fa4e7;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  /*padding: 0 5em;
  position: sticky;
  position: -webkit-sticky;*/
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.home { font-weight: bold;}

article#home { display: block}
.menu_item {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1em;
}

.menu_item:hover {
  background-color: #178acc
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 3em;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #2fa4e7;
    height: 2em;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    color: white;
    background-color: #178acc;
  }
}

/* Main content, including side bar */
#mainContainer {
  flex-grow: 6;
  display: flex;
  flex-direction: row;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

/* Side bar */
#side{
  flex-shrink: 2.5;
  width: 100%;
  margin: 0 auto ;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 40px;
}

#side > img {
  width: 100%; 
  display: block; 
  margin: auto}

#links a {
  font-size: 2em; 
  color:#03b6fc
}

/* Main content */
#main {
  flex-grow: 2.5;
  width: 100%;
  margin: 0 0 0 2em;
}

.sections {
  text-align: justify;
}

.active {
  top: 0;
}
@media all and (max-width: 1000px) {
  body {
    margin: auto;
    width: 100%;
  }
  
  #side{
    flex-shrink: 2;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
  }
  
  #main {
    flex-grow: 2;
  
  }
}

.sections, #skills {
  display: none;
}

.sections:active {
  display: block;
}


@media all and (max-width: 700px) {
  body {
    margin: auto;
    width: 100%;
  }
  
  #header {
    flex-wrap: wrap;
  } 
  #mainContainer {
    flex-grow: 3;
    flex-direction: column;
  }
  #main {  margin: 0 auto 0 auto; }
  
  #side {position: static}
}

#skills {
  flex-direction: column;
}

#info i {
  color: black;
}

#education h3, #education p {
  text-align: justify;
}

a:link, a:visited, a:hover{ text-decoration: none; }


table {
  margin: auto;
  line-height: 1.42857143;
  display: table;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

th {border-bottom: 1px solid black;}

tr {
  border-collapse: collapse; 
  border: none !important;}
  
#info table { 
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
}

#soft {
  margin: auto;
  text-align: center;
  list-style-type: none;
}
#languages td {
  padding: 0 1em;
}

p.when, p.where {
  text-align: center;
}